body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

.header {
  padding: 40px;
  width: 900px;
  background-color: #f0f8ff;
  color: #000;
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 24px;
  line-height: 1;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 26px;
}

.nav {
  margin: 20px 0;
  padding: 20px 40px;
  width: 900px;
  background-color: #496883;
  color: #fff;
}

.nav a {
  margin-right: 30px;
  color: #fff;
}

.nav a:last-child {
  margin-right: 0;
}

.main {
  margin: 20px 0;
  padding: 40px;
  width: 900px;
  background-color: #dcebf0;
}

.footer {
  margin: 20px 0;
  padding: 20px 40px;
  width: 900px;
  background-color: #1d3f5e;
  color: #fff;
}

p {
  font-size: 16px;
}

.blockquote {
  margin: 40px 0;
  padding: 15px 40px;
  border-left: 3px solid #f24137;
  font-size: 18px;
}

.article {
  margin-bottom: 50px;
}

.article:last-child {
  margin-bottom: 0;
}
